@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

/* globals.css */
/* globals.css */
.subscript {
  display: inline-block;
  background-color: #010A12; /* Adjust the background color to match the gray in your image */
  color: #FFF; /* Adjust text color as needed */
  font-size: 15px; /* Adjust font size to match the example */
  padding: 2px 8px; /* Adjust padding to create the pill shape */
  border-radius: 13px; /* Adjust border-radius for a more pill-like shape */
  font-weight: 500; /* Adjust font weight if necessary */
  margin-left: 4px; /* Adjust left margin for proper spacing */
  vertical-align: bottom; /* Adjust vertical alignment as necessary */
  line-height: 1; /* Ensure the line height does not add extra height */
  font-family: Arial, sans-serif; /* Adjust font family to match your design */
}

.link-style {
  color: white;
  text-decoration: underline;
}

.link-disabled {
  color: grey;
  cursor: not-allowed;
  text-decoration: none;
}

.link-style:hover {
  color: grey;
  text-decoration: none;
  cursor: pointer;
}

.link-icon {
  font-size: 1.5em;
  vertical-align: middle;
  margin-right: 10px;
}

body {
  color: rgb(var(--foreground-rgb));
  /* background: linear-gradient(to bottom,
      transparent,
      rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb)); */
  background: #010A12;
  color: #FFF;
  font-family: Inter, Helvetica, Arial, sans-serif;
}
